scipy
ipython
matplotlib
nose
psutil
simplejson
pyzmq
markupsafe
tornado
jsonschema
jupyter
ansible
docker-py
pyyaml
openapi_resolver

# jupyter tools
nbstripout

# Load jupyter extensions for exercises.
jupyter_contrib_nbextensions
RISE

